.crops3{
   border: 1px solid rgb(13, 138, 98);
   border-radius: 10px;
   background-color: rgba(253, 254, 255, 0.808);
}
.crops3:hover{
    cursor: pointer;
    
}
.icon{
    background-color: rgb(194, 227, 227);
    width: 50px;
    height: 50px;
    justify-content: center;
    border-radius: 30px;
    padding: 15px;
}
.form{
    max-width: 480px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 0;
}
.send{
    width: 100px;
}
.btn{
    height: 50px;
}
.form1{
    max-width: 480px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 0;
}
.form2{
    max-width: 480px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 0;
    background-color: rgb(217, 235, 235);
}
.form-control{
    background-color: rgb(238, 248, 248);
}
